body {
    margin: 0;
    display: flex;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0 auto;
}

.square {
    border: solid 1px black;
    box-sizing: border-box;
}